<div class="card">
  <img class="card-img-top" src="https://78.media.tumblr.com/087c36534ee7b34b54874a0b1c5469be/tumblr_op18uoJGU71vsjcxvo1_500.gif" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{planetCtrl.planet.name}}</h5>
    <ul class="list-group list-group-flush planet-info">
     <li class="list-group-item"><b>Population:</b> {{planetCtrl.planet.population}}</li>
     <li class="list-group-item"><b>Diameter:</b> {{planetCtrl.planet.diameter}}</li>
     <li class="list-group-item"><b>Rotaion:</b> {{planetCtrl.planet.rotation_period}}</li>
   </ul>
  </div>
</div>
