<div class="card">
  <div class="card-body">
  <h5 class="card-title">{{planetDetailsCtrl.planet.name}}</h5>
    <!-- <planet-chart planet="planetDetailsCtrl.planet"></planet-chart> -->
    <ul class="list-group list-group-flush planet-info">
     <li class="list-group-item"><b>Population:</b> {{planetDetailsCtrl.planet.population}}</li>
     <li class="list-group-item"><b>Diameter:</b> {{planetDetailsCtrl.planet.diameter}}</li>
     <li class="list-group-item"><b>Rotation:</b> {{planetDetailsCtrl.planet.rotation_period}}</li>
     <li class="list-group-item"><b>Orbital Period:</b> {{planetDetailsCtrl.planet.orbital_period}}</li>
     <li class="list-group-item"><b>Climate:</b> {{planetDetailsCtrl.planet.climate}}</li>
     <li class="list-group-item"><b>Gravity:</b> {{planetDetailsCtrl.planet.gravity}}</li>
     <li class="list-group-item"><b>Terrain:</b> {{planetDetailsCtrl.planet.terrain}}</li>
     <li class="list-group-item"><b>Surface Water:</b> {{planetDetailsCtrl.planet.surface_water}}</li>
   </ul>
   <br/>
  </div>
</div>
